<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserCenterConfigList</key>
	<false/>
	<key>domain</key>
	<string>http://kings.360tianma.com</string>
	<key>domain1</key>
	<string>https://yrybtest.ybtv.cc</string>
	<key>features</key>
	<array>
		<dict>
			<key>configFile</key>
			<string>navigation_configFile_value</string>
			<key>description</key>
			<string>导航组件，根据文件名称获取配置数据</string>
			<key>name</key>
			<string>tm_navigation_config</string>
		</dict>
		<dict>
			<key>appkey</key>
			<string>6de6bf549f3fe6f17b6a85cc</string>
			<key>channel</key>
			<string>Offline</string>
			<key>description</key>
			<string>jpush推送平台key，框架内使用</string>
			<key>name</key>
			<string>tm_jpush</string>
		</dict>
		<dict>
			<key>gaodekey</key>
			<string>111817f86a44fc8b7bf9a9857f21d375</string>
			<key>name</key>
			<string>gaodekey_for_brokeNew</string>
		</dict>
		<dict>
			<key>name</key>
			<string>tm_taobaopid</string>
			<key>pid</key>
			<string>mm_380590171_509300169_108921000372</string>
		</dict>
		<dict>
			<key>name</key>
			<string>tm_Share</string>
			<key>Wechat</key>
			<dict>
				<key>AppId</key>
				<string>wx06505c23c235b7de</string>
				<key>AppSecret</key>
				<string>7c30c642cab82159d20514710b4ce023</string>
				<key>universalLink</key>
				<string>https://yryb.ybtv.cc/apple-app-site-association/</string>
				<key>Path</key>
				<string>http://39.107.76.66</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>TMCustonFontConfig</string>
			<key>tmBoldFontFileName1</key>
			<string>SourceHanSansCN-Bold.otf</string>
			<key>tmBoldFontName1</key>
			<string>SourceHanSansCN-Bold</string>
			<key>tmFontFileName1</key>
			<string>SourceHanSansCN-Normal.otf</string>
			<key>tmFontName1</key>
			<string>SourceHanSansCN-Normal</string>
			<key>tmMediumFontFileName1</key>
			<string>SourceHanSansCN-Medium.otf</string>
			<key>tmMediumFontName1</key>
			<string>SourceHanSansCN-Medium</string>
		</dict>
	</array>
	<key>icon</key>
	<dict>
		<key>40</key>
		<string>40px.png</string>
		<key>60</key>
		<string>60px.png</string>
	</dict>
	<key>landscapes</key>
	<array>
		<string>HLHJLivePlayViewController</string>
		<string>HLHJTVViewController</string>
	</array>
	<key>siteCode</key>
	<string>00000000000000000000000000000000</string>
	<key>tmbwDomain</key>
	<string>http://apitest.tianma3600.com:39888</string>
	<key>tmbwH5Domain</key>
	<string>http://webtest.tianma3600.com</string>
</dict>
</plist>
